; Hensei configuration file

; ----- List of descriptors -----

FundamentalFrequency
Inharmonicity
Loudness
MFCC
Noisiness
SpectralCentroid

; ----- TSKM Parameters -----

; Chord Mining Parameters
MarginalGapFilterAlpha = 0.5
MarginalGapMaxDuration = 100
MinimalToneDuration    = 20
MinimalChordDuration   = 50
MinimalSupport         = 2000
MarginAlpha            = 0.1
MinimalChordSize       = 2
MaximalChordSize       = 3

; Phrase Mining Parameters
SequenceWindowSize           = 1000
AlphaForClosedPhrases        = 0.3
MinimalClosedPhraseSupport   = 8
MinimalClosedSequenceSupport = 8